<div id="admin-content-board">
    <h5>Contenus à valider : <%= @contents_to_validate.present? ? @contents_to_validate.count : "0" %></h5>
    <% if @contents_to_validate.present? %>
        <div class="d-flex justify-content-center">
            <table>
            <tr>
                <th>Date</th>
                <th>Auteur</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Options</th>
            </tr>
            <tbody>
                <% @contents_to_validate.each do |content|  %>
                    <%= render "row_content", content: content %>
                <% end %>
            </tbody>
        </table>
        </div>
    <% end %>
</div>
