<div class="media-card">
    <div class="trailer-movie-container">
        <iframe src="https://www.youtube.com/embed/<%= media.source %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <%= media.name %>
</div>
