@import "media_card";

#media-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
}

@media(max-width: 1600px) {
    #media-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 1300px) {
    #media-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
