.media-card {
    padding: 8px;
    margin: 0 10px;
    height: fit-content;
    color: white;

    .trailer-movie-container {
        width: 100%;
        height: 200px;
        border-radius: 8px;

        iframe {
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }
    }
}
