.navbar-design {
  justify-content: space-between;
  background: #1c1e22;
  a {
    color: $my-primary;
    &:hover {
      color: white;
    }
  }
}

.navbar-design .navbar-collapse {
  flex-grow: 0;
}

.navbar-design .navbar-brand img {
  width: 40px;
}
