#sidebar-container {
    background-color: $darker-background;
    height: calc(100vh - 62px);
    width: 250px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 62px;
    color: $my-primary;

    .link-side-nav {
        text-align: center;
        padding: 6px;
        cursor: pointer;
    }

    .active {
        background-color: $dark-background;
        color: $my-primary;
    }

    .admin-panel {
        margin: 0;
        padding: 0;
        text-align: center;
        a {
            text-align: center;
            color: white;
        }
    }

    li {
        font-size: 14px;
        cursor: pointer;
    }
}
