@import "content_card";
@import "show";
@import "new";

#content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
}

@media(max-width: 1600px) {
    #content-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 1300px) {
    #content-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
